In [54]:
import pandas as pd

In [55]:
# Читаем данные
df1 = pd.read_excel('2024-08-06.xls')
df1.head(20)

,Журнал событий входа-выхода.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Дата составления:,07.08.2024 09:48:44,NaN,NaN
2,NaN,NaN,Начало периода:,06.08.2024 00:00:00,NaN,NaN
3,NaN,NaN,Конец периода:,06.08.2024 23:59:00,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,Дата,Отдел,Таб. №,Должность,События,NaN
6,NaN,NaN,NaN,NaN,приход,уход
7,2024-08-06,ADEL,ADEL,NaN,(нет),13:06 (2)
8,NaN,NaN,NaN,NaN,13:27 (2),(нет)
9,2024-08-06,ADEL,ADEL,NaN,07:26 (2),19:07 (1)
10,2024-08-06,ADEL,ADEL,NaN,(нет),18:45 (2)
11,2024-08-06,AKVASTROY,AKVASTROY,NaN,07:33 (1),18:00 (1)
12,2024-08-06,AKVASTROY,AKVA STROY,NaN,07:18 (1),18:00 (2)
13,2024-08-06,AKVASTROY,AKVA STROY,NaN,07:33 (1),(нет)
14,2024-08-06,AKVASTROY,AKVA STROY,NaN,07:33 (2),17:59 (2)
15,2024-08-06,AKVASTROY,AKVA STROY,NaN,07:28 (2),(нет)
16,2024-08-06,AKVASTROY,AKVASTROY,NaN,07:20 (1),11:54 (1)
17,NaN,NaN,NaN,NaN,12:54 (1),17:30 (2)
18,2024-08-06,AKVASTROY,AKVA STROY,NaN,(нет),17:59 (2)
19,2024-08-06,AKVASTROY,AKVASTROY,NaN,08:02 (1),17:58 (1)

In [56]:
#Формируем таблицу и столбцы
df1 = df1.drop(index=[0,1,2,3,4,5,6])
df1 = df1.rename(columns=
                {'Журнал событий входа-выхода.': 'Date',
                 'Unnamed: 1': 'Department',
                 'Unnamed: 2': 'Pass№', 'Unnamed: 3': 'Position',
                 'Unnamed: 4': 'Time in', 'Unnamed: 5': 'Time out'})
df1 = df1.reset_index(drop=True)
df1.head(10)

         Date Department       Pass№ Position    Time in   Time out
0  2024-08-06       ADEL        ADEL      NaN      (нет)  13:06 (2)
1         NaN        NaN         NaN      NaN  13:27 (2)      (нет)
2  2024-08-06       ADEL        ADEL      NaN  07:26 (2)  19:07 (1)
3  2024-08-06       ADEL        ADEL      NaN      (нет)  18:45 (2)
4  2024-08-06  AKVASTROY   AKVASTROY      NaN  07:33 (1)  18:00 (1)
5  2024-08-06  AKVASTROY  AKVA STROY      NaN  07:18 (1)  18:00 (2)
6  2024-08-06  AKVASTROY  AKVA STROY      NaN  07:33 (1)      (нет)
7  2024-08-06  AKVASTROY  AKVA STROY      NaN  07:33 (2)  17:59 (2)
8  2024-08-06  AKVASTROY  AKVA STROY      NaN  07:28 (2)      (нет)
9  2024-08-06  AKVASTROY   AKVASTROY      NaN  07:20 (1)  11:54 (1)

In [57]:
# Приводим пропуски к общему вдиу
df1['Time in'] = df1['Time in'].replace('(нет)', pd.NA)
df1['Time out'] = df1['Time out'].replace('(нет)', pd.NA)
Nan = df1['Date'][1]
df1 = df1.replace(Nan, pd.NA)
df1.head(10)

         Date Department       Pass№ Position    Time in   Time out
0  2024-08-06       ADEL        ADEL     <NA>       <NA>  13:06 (2)
1        <NA>       <NA>        <NA>     <NA>  13:27 (2)       <NA>
2  2024-08-06       ADEL        ADEL     <NA>  07:26 (2)  19:07 (1)
3  2024-08-06       ADEL        ADEL     <NA>       <NA>  18:45 (2)
4  2024-08-06  AKVASTROY   AKVASTROY     <NA>  07:33 (1)  18:00 (1)
5  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:18 (1)  18:00 (2)
6  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:33 (1)       <NA>
7  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:33 (2)  17:59 (2)
8  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:28 (2)       <NA>
9  2024-08-06  AKVASTROY   AKVASTROY     <NA>  07:20 (1)  11:54 (1)

In [58]:
# Обрабатываем пустые строки посещений, добавляем уникальный идентификатор № посетителя для каждой строки.
# Таб№ столбец в исходных данных с этим не справляется из-за периодического дублирования названия компании без доп. идентификации, хотя на уровне данных она явно есть.
df1['Visit ID'] = None
visit_id = 0
for i in range(len(df1)):
    if pd.notna(df1.loc[i, 'Date']) and df1.loc[i, 'Date'] != '<NA>':
        visit_id += 1
    df1.loc[i, 'Visit ID'] = visit_id

unique_visits = df1['Visit ID'].unique()
for visit in unique_visits:
    visit_group = df1[df1['Visit ID'] == visit]
    filled_position = visit_group['Position'].first_valid_index()
    if filled_position is not None:
        position_value = df1.loc[filled_position, 'Position']
        df1.loc[df1['Visit ID'] == visit, 'Position'] = df1.loc[
            df1['Visit ID'] == visit, 'Position'].fillna(position_value)
df1[['Department', 'Date', 'Pass№']] = df1[
    ['Department', 'Date', 'Pass№']].fillna(method='ffill')
df1.head(10)

C:\Users\newme\AppData\Local\Temp\ipykernel_28260\3951865480.py:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1[['Department', 'Date', 'Pass№']] = df1[

         Date Department       Pass№ Position    Time in   Time out Visit ID
0  2024-08-06       ADEL        ADEL     <NA>       <NA>  13:06 (2)        1
1  2024-08-06       ADEL        ADEL     <NA>  13:27 (2)       <NA>        1
2  2024-08-06       ADEL        ADEL     <NA>  07:26 (2)  19:07 (1)        2
3  2024-08-06       ADEL        ADEL     <NA>       <NA>  18:45 (2)        3
4  2024-08-06  AKVASTROY   AKVASTROY     <NA>  07:33 (1)  18:00 (1)        4
5  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:18 (1)  18:00 (2)        5
6  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:33 (1)       <NA>        6
7  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:33 (2)  17:59 (2)        7
8  2024-08-06  AKVASTROY  AKVA STROY     <NA>  07:28 (2)       <NA>        8
9  2024-08-06  AKVASTROY   AKVASTROY     <NA>  07:20 (1)  11:54 (1)        9

In [59]:
# Разделяем строчки по признаку Выход\Вход
new_rows = []
for index, row in df1.iterrows():
    if pd.notna(row['Time in']):
        new_row = row.copy()
        new_row['Time'] = row['Time in']
        new_row['In/Out'] = 'In'
        new_rows.append(new_row)
    
    if pd.notna(row['Time out']):
        new_row = row.copy()
        new_row['Time'] = row['Time out']
        new_row['In/Out'] = 'Out'
        new_rows.append(new_row)

df1 = pd.DataFrame(new_rows)
df1 = df1.drop(columns=['Time in', 'Time out'])
df1 = df1.reset_index(drop=True)
df1.head(10)

         Date Department       Pass№ Position  Visit ID       Time In/Out
0  2024-08-06       ADEL        ADEL     <NA>         1  13:06 (2)    Out
1  2024-08-06       ADEL        ADEL     <NA>         1  13:27 (2)     In
2  2024-08-06       ADEL        ADEL     <NA>         2  07:26 (2)     In
3  2024-08-06       ADEL        ADEL     <NA>         2  19:07 (1)    Out
4  2024-08-06       ADEL        ADEL     <NA>         3  18:45 (2)    Out
5  2024-08-06  AKVASTROY   AKVASTROY     <NA>         4  07:33 (1)     In
6  2024-08-06  AKVASTROY   AKVASTROY     <NA>         4  18:00 (1)    Out
7  2024-08-06  AKVASTROY  AKVA STROY     <NA>         5  07:18 (1)     In
8  2024-08-06  AKVASTROY  AKVA STROY     <NA>         5  18:00 (2)    Out
9  2024-08-06  AKVASTROY  AKVA STROY     <NA>         6  07:33 (1)     In

In [60]:
# Создаем столбец прохода через конкретное КПП
df1['Gate'] = df1['Time'].str.extract(r'\((\d+)\)')
df1['Time'] = df1['Time'].str.replace(r'\s*\(\d+\)', '', regex=True)
df1.head(10)

         Date Department       Pass№ Position  Visit ID   Time In/Out Gate
0  2024-08-06       ADEL        ADEL     <NA>         1  13:06    Out    2
1  2024-08-06       ADEL        ADEL     <NA>         1  13:27     In    2
2  2024-08-06       ADEL        ADEL     <NA>         2  07:26     In    2
3  2024-08-06       ADEL        ADEL     <NA>         2  19:07    Out    1
4  2024-08-06       ADEL        ADEL     <NA>         3  18:45    Out    2
5  2024-08-06  AKVASTROY   AKVASTROY     <NA>         4  07:33     In    1
6  2024-08-06  AKVASTROY   AKVASTROY     <NA>         4  18:00    Out    1
7  2024-08-06  AKVASTROY  AKVA STROY     <NA>         5  07:18     In    1
8  2024-08-06  AKVASTROY  AKVA STROY     <NA>         5  18:00    Out    2
9  2024-08-06  AKVASTROY  AKVA STROY     <NA>         6  07:33     In    1

In [61]:
# Даем таблице имя стобца и убираем не несущий смысла столбец
df1.name = '2024-08-06, Таблица контроля посещения персоналом объекта Х'
df1= df1.drop(columns=['Date'])
df1.head(10)

  Department       Pass№ Position  Visit ID   Time In/Out Gate
0       ADEL        ADEL     <NA>         1  13:06    Out    2
1       ADEL        ADEL     <NA>         1  13:27     In    2
2       ADEL        ADEL     <NA>         2  07:26     In    2
3       ADEL        ADEL     <NA>         2  19:07    Out    1
4       ADEL        ADEL     <NA>         3  18:45    Out    2
5  AKVASTROY   AKVASTROY     <NA>         4  07:33     In    1
6  AKVASTROY   AKVASTROY     <NA>         4  18:00    Out    1
7  AKVASTROY  AKVA STROY     <NA>         5  07:18     In    1
8  AKVASTROY  AKVA STROY     <NA>         5  18:00    Out    2
9  AKVASTROY  AKVA STROY     <NA>         6  07:33     In    1

In [62]:
# Убираем лишние пробелы для правильной группировки данных
df1 = df1.applymap(lambda x: x.replace(' ', '') if isinstance(x, str) else x)
df1.head(10)

C:\Users\newme\AppData\Local\Temp\ipykernel_28260\1893310843.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1 = df1.applymap(lambda x: x.replace(' ', '') if isinstance(x, str) else x)

  Department      Pass№ Position  Visit ID   Time In/Out Gate
0       ADEL       ADEL     <NA>         1  13:06    Out    2
1       ADEL       ADEL     <NA>         1  13:27     In    2
2       ADEL       ADEL     <NA>         2  07:26     In    2
3       ADEL       ADEL     <NA>         2  19:07    Out    1
4       ADEL       ADEL     <NA>         3  18:45    Out    2
5  AKVASTROY  AKVASTROY     <NA>         4  07:33     In    1
6  AKVASTROY  AKVASTROY     <NA>         4  18:00    Out    1
7  AKVASTROY  AKVASTROY     <NA>         5  07:18     In    1
8  AKVASTROY  AKVASTROY     <NA>         5  18:00    Out    2
9  AKVASTROY  AKVASTROY     <NA>         6  07:33     In    1

In [63]:
df1.head(60)

       Department      Pass№       Position  Visit ID   Time In/Out Gate
0            ADEL       ADEL           <NA>         1  13:06    Out    2
1            ADEL       ADEL           <NA>         1  13:27     In    2
2            ADEL       ADEL           <NA>         2  07:26     In    2
3            ADEL       ADEL           <NA>         2  19:07    Out    1
4            ADEL       ADEL           <NA>         3  18:45    Out    2
5       AKVASTROY  AKVASTROY           <NA>         4  07:33     In    1
6       AKVASTROY  AKVASTROY           <NA>         4  18:00    Out    1
7       AKVASTROY  AKVASTROY           <NA>         5  07:18     In    1
8       AKVASTROY  AKVASTROY           <NA>         5  18:00    Out    2
9       AKVASTROY  AKVASTROY           <NA>         6  07:33     In    1
10      AKVASTROY  AKVASTROY           <NA>         7  07:33     In    2
11      AKVASTROY  AKVASTROY           <NA>         7  17:59    Out    2
12      AKVASTROY  AKVASTROY           <NA>         8  07:28     In    2
13      AKVASTROY  AKVASTROY           <NA>         9  07:20     In    1
14      AKVASTROY  AKVASTROY           <NA>         9  11:54    Out    1
15      AKVASTROY  AKVASTROY           <NA>         9  12:54     In    1
16      AKVASTROY  AKVASTROY           <NA>         9  17:30    Out    2
17      AKVASTROY  AKVASTROY           <NA>        10  17:59    Out    2
18      AKVASTROY  AKVASTROY           <NA>        11  08:02     In    1
19      AKVASTROY  AKVASTROY           <NA>        11  17:58    Out    1
20      AKVASTROY  AKVASTROY           <NA>        12  07:33     In    1
21      AKVASTROY  AKVASTROY           <NA>        12  18:01    Out    1
22      AKVASTROY  AKVASTROY           <NA>        13  07:52     In    1
23      AKVASTROY  AKVASTROY           <NA>        13  12:09    Out    1
24      AKVASTROY  AKVASTROY           <NA>        13  12:40     In    2
25      AKVASTROY  AKVASTROY           <NA>        13  18:01    Out    1
26      AKVASTROY  AKVASTROY           <NA>        14  07:52     In    2
27      AKVASTROY  AKVASTROY           <NA>        14  18:02    Out    1
28      AKVASTROY  AKVASTROY           <NA>        15  07:50     In    2
29      AKVASTROY  AKVASTROY           <NA>        15  18:01    Out    2
30      AKVASTROY  AKVASTROY           <NA>        16  07:33     In    2
31      AKVASTROY  AKVASTROY           <NA>        16  17:59    Out    1
32      AKVASTROY  AKVASTROY       бригадир        17  07:42     In    1
33      AKVASTROY  AKVASTROY       бригадир        17  18:28    Out    1
34      AKVASTROY  AKVASTROY           <NA>        18  07:33     In    1
35      AKVASTROY  AKVASTROY           <NA>        18  18:00    Out    1
36  BEKCI(ОХРАНА)       8486  BEKCI(ОХРАНА)        19  05:58    Out    2
37  BEKCI(ОХРАНА)       9453  BEKCI(ОХРАНА)        20  05:57     In    2
38  BEKCI(ОХРАНА)       9453  BEKCI(ОХРАНА)        20  17:58    Out    2
39  BEKCI(ОХРАНА)       7409  BEKCI(ОХРАНА)        21  05:49    Out    1
40  BEKCI(ОХРАНА)       7409  BEKCI(ОХРАНА)        21  18:01     In    2
41  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  06:00     In    1
42  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  08:46    Out    2
43  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  08:49    Out    1
44  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  08:50     In    2
45  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  09:20    Out    2
46  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  10:22    Out    2
47  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  12:46     In    2
48  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  13:45    Out    1
49  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  13:45     In    1
50  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  15:23    Out    1
51  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  15:24     In    1
52  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  15:32    Out    1
53  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  16:24    Out    2
54  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  16:25     In    2
55  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  17:46    Out    2
56  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  17:47     In    2
57  BEKCI(ОХРАНА)       8679  BEKCI(ОХРАНА)        22  18:00    Out    2
58  BEKCI(ОХРАНА)       9272  BEKCI(ОХРАНА)        23  05:49    Out    1
59  BEKCI(ОХРАНА)       7826  BEKCI(ОХРАНА)        24  06:01     In    2

In [241]:
# Читаем датафрейм в CSV для импорта в PowerBi
df1.to_csv(r"W:\NewWorkProject\TransformedData", index=False, sep=";")
# Далее можно создать connect, DataBase и залить фрейм в базу для удобного храненения и дальнейшего анализа.